    *{
    box-sizing: border-box;
    margin: auto;
    }
    .btnboxbox{
        width: 300px;
        height: 100px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btnbox{
        width: 90px;
        height: 50px;
        border: 2px black solid;
        background-color: lightgray;
        display: flex;
        justify-content: center; /* 水平居中 */
        align-items: center;  
    }
    .btnbox a{
        text-decoration: none;
        text-align: center;
        width: 90px;
        line-height: 50px;
        color: black;
    }

