*{
    box-sizing: border-box;
    margin: auto;
}

.box{
    width: 300px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
button,.box1{
    width: 90px;
    height: 50px;
}

