*{
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
}
.max{
    margin: auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 1400px;
}

.head-box{
    width: 100%;
    padding: 50px 0px;
}

.htext1,.htext2{
    font-size: 3em;
    line-height: 50px;
}
.htext2{
    font-weight: bolder;
}
.htext3{
    padding-top: 10px;
    line-height: 20px;
    width: 600PX;
    font-size: 1.3em;
    margin: auto;
}

.cboxs{
    margin: auto;
    width: 90%;
    height: 650px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}
.box1,.box3{
    width: 400px;
    height: 250px;
    padding: 30px;
}
.box2{
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* position: relative; */
}
.ctext1,.ctext2{
    text-align: left;
}
.ctext1{
    line-height: 40px;
    font-size: 2.5em;

}
.ctext2{
    width: 300px;
    line-height: 30px;
    font-size: 1.5em;
}
.box2-1,.box2-2{
    height: 250px;
    padding: 30px;
}
img{
    margin-top: 25px;
    margin-left: 230px;
    /* position: absolute;
    right: 0;
    bottom: 0; */
}
.box1,.box3,.box2-1,.box2-2{
    border: solid 1px #9cd1d0;
    border-top: solid 5px #46cfcd;
    border-radius: 5px;
    box-shadow: 5px 5px 0.5px 0px rgb(66, 61, 61);
}